# .xprofile needs to be executable.

### >> Improving Touchpad Experience
# Enable natural scrolling
xinput set-prop 11 "libinput Natural Scrolling Enabled" 1

# Enable tapping
xinput set-prop 11 "libinput Tapping Enabled" 1

# Set scrolling pixel distance
xinput set-prop 11 "libinput Scrolling Pixel Distance" 20

# Start libinput-gestures for gestures
libinput-gestures &
